/*** colors ***/
$color-primary: #133c55;
$color-secondary: #ff5733;
$color-black: black;
$color-white: white;


/*** fonts ***/
$font-primary: 'Nunito', sans-serif;
$font-secondary: 'Josefin Sans', sans-serif;


/*** responsive breakpoints ***/
$bp-xl: 1200px; // 1200 / 16 = 75em
$bp-lg: 992px;
$bp-m: 768px;
$bp-sm: 576px;


/*** basic ***/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 10px/16px(x100) = 62.5 => 1 rem = 10px */

    @media screen and (max-width: $bp-xl) {
        font-size: 50%; /* = 8px */
    }
}

body {
    font-family: $font-primary;
    color: $color-primary;
    font-weight: 300;
    line-height: 1.6;
    background-image: url('../img/bg-1.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    font-size: 1.6rem;
    width: 100%;

    @media screen and (max-width: $bp-sm) {
        font-size: 1.4rem;
    }
}

/*** container ***/
.container {
    background-color: white;
    border-radius: 2.5rem;
    height: 80vh;
    border-top: 4px dashed $color-secondary;
    border-bottom: 4px dashed $color-secondary;
    border-left: 4px solid $color-secondary;
    border-right: 4px solid $color-secondary;
    box-shadow: 0 1rem 2rem 0.5rem rgba(white, 0.5);
}