/*** table ***/
.table {
    color: $color-primary;
}

/*** create-update-form ***/
.create-update-form {
    label {
        font-family: $font-secondary;
        font-weight: 700;
    }

    .help-block {
        color: $color-secondary;
        font-size: 1.2rem;
    }
}