.footer {
    position: fixed;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: white;

    &__span {
        color: $color-secondary;
    }

    @media screen and (max-width: $bp-sm) {
        font-size: 1rem;
    }
}