/*** typography ***/
%heading {
    font-family: $font-secondary;
    font-weight: 400;
    color: $color-secondary;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;

    @media screen and (max-width: $bp-m) {
        font-size: 3rem;
    }

    @media screen and (max-width: $bp-sm) {
        font-size: 2rem;
    }
}

.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
}

// p {
//     font-size: 1.6rem;
// }

/*** buttons ***/
.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        // border: none;
        border: 4px dashed $color-white;
        border-radius: 2.5rem;
        color: $color-white;
        font-family: $font-secondary;
        // text-transform: uppercase;
        font-size: 1.5rem;
        padding: 1rem 2rem;
        cursor: pointer;
        transition: all .2s;

        @media screen and (max-width: $bp-sm) {
            padding: 0.25rem 0.5rem;
            border: 2px dashed $color-white;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: scale(1.02);
    }

    &__submit {
        background-color: $color-primary;
        
        &:hover {
            color: $color-white;
            background-color: lighten($color-primary, 50%);
        }
    }

    &__cancel {
        background-color: $color-secondary;

        &:hover {
            color: $color-white;
            background-color: darken($color-secondary, 40%);
        }
    }
}


.text-center {
    text-align: center;
}


/*** margins ***/
.mt-sm {
    margin-top: 2rem;
}
.mt-md {
    margin-top: 3rem;
}
.mt-lg {
    margin-top: 4rem;
}
.mt-xl {
    margin-top: 8rem;
}

.mb-sm {
    margin-bottom: 2rem;
}
.mb-md {
    margin-bottom: 3rem;
}
.mb-lg {
    margin-bottom: 4rem;
}
.mb-xl {
    margin-bottom: 8rem;
}

.mt-sm-minus {
    margin-top: 0px;
}